body {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 30px;
    text-align: center;
}

p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
}

#name-input {
    font-size: 20px;
    width: 20vw;
    max-width: 400px;
    min-width: 200px;
}

#feature-bug-input {
    font-size: 20px;
    width: 60vw;
    min-width: 200px;
    height: 40vh;
}

#submit-button {
    color: white;
    background-color: #005282;
    border-color: #005282;
    font-size: 20px;
    border-radius: 15px;
    Z-index: 2;
}

#submit-button:hover {
    cursor: pointer;
    background-color: white;
    color: #005282;
}

footer {
    position: fixed;
    margin-bottom: 5px;
    bottom: 0;
    width: 100%;
    text-align: center;
  }  